<h1>Hi! confirmez vote e-mail</h1>

<p>
    Merci de cliquer sur le lien ci-dessous afin de vérifier votre E-mail <br><br>
    <a href="{{ signedUrl|raw }}">Je confirme mon E-mail</a>.
    ce lien expire dans{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientot !
</p>
