header {
    background-image: url(../images/backgrounds/contact.jpg);  
}
form {
    background-color: #E3E7E4;
    padding: 1rem;
}
@media screen and (min-width : 900px) {
    body {
        background-image: url(../images/backgrounds/contact.jpg);
        header {
            background-image: none;
        }
    }
    .container-form{
        >div {
            flex: 1 1;
            margin: 1rem;
        }
        form{
            max-width: 800px;
            margin: auto;
            border-radius: 0.5rem;
        }
        img {
            width: 100%;
            max-width: 800px;
        }
    }
    
}
