header {
    background-image: url(../images/backgrounds/reservation.jpg);
    margin-top: 5vh;
    
}
@media screen and (min-width : 900px) {
    body {
        background-image: url(../images/backgrounds/reservation.jpg);
        header {
            background-image: none;
        }
    }
    
}