
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Old+Standard+TT:wght@400;700&display=swap');


body * {
    margin: 0;
    padding: 0;
}
 body {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    h1 ,h2 , h3{
        font-family: 'Old Standard TT', serif;
    }
    p , label , a , button , li{
        font-family: 'Lora', serif;
        font-size: 16px;
    }
    li{
        list-style: none;
        margin-bottom: 0.5vh;
    }
    button , .btn{
        text-transform: capitalize;
    }
    .btn-success{
        background-color: #637266;
        border: 1px solid transparent;
        &:hover{
            background-color: white;
            color: black;
            border: 1px solid #637266;
        }
    }
    .btn-warning{  
        background-color: #bfa78f;
        color: white;
        border: 1px solid transparent;
            
        &:hover{
            background-color: white;
            color: black;
            border: 1px solid #bfa78f;
        }
    }
    .btn-primary{  
        background-color: #bfa78f;
        color: white;
        border: 1px solid transparent;
            
        &:hover{
            background-color: white;
            color: black;
            border: 1px solid #bfa78f;
        }
    }
 }
main{
    min-height: 100vh ;
    
    header {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
        margin-top: 10vh;
       
        h2 , h3 {
            font-family: 'Old Standard TT', serif; 
            font-weight: 700;   
            color: white;
        }
        >div {   
            background-color: rgba(0, 0, 0, 0.500);  
            width: 100%;
            height:fit-content;
            min-height: 20vh;  
        }
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column; 
          
    }
}
nav {
    .active {
        border: 1px solid white; 
    }
    .show , .collapsing{
        display: flex;
        align-items: flex-end;
        justify-content:flex-end;
        ul{ 
            background-color: #637266;  
            max-width: 50vw;
            padding: 1rem;
           
        }
    }
}  
footer {
    >div {     
        flex-wrap: wrap; 
        >div{
            width: 100%;
        }
    }
}

@media screen and (min-width : 900px) {
    body{ 

        .main{
           
            header {
                background-image: none; 
                background-color: rgba(0, 0, 0, 0.500);  
                min-height: fit-content;        
            }   
        }
        footer div > div{
            flex: 1 1;
        }
    }      
}