{% extends 'base.html.twig' %}

{% block title %}le quai antique / reservation{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/reservation.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
    <main class="mt-5 ">
          {% include "base/header.html.twig" %}

            <div class=" col-5  bg-light  p-3 ">
                {{ form_start(form) }}
                  
                {{ form_end(form) }}
            </div>
    </main>
{% endblock %}
